.viewport {
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background-color: #0f1343;


}
@font-face {
    font-family: 'NBC Futura';
    src: local('NBC Futura Medium'), 
         url('fonts/nbc_futura_medium.ttf') format('truetype');

}
.button-container{
	position: relative;
	right: 100px;
}
.button-discover2 {
	position: relative;
}

.knopka {
  color: #989fb1; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
   /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  display: inline-block;
  margin: 40px 0px;
  padding: 10px 30px;/* отступ от текста */
  overflow: hidden;
  text-align: center;
  transition: .2s;
  font-family: NBC Futura;
  letter-spacing: 2px;
  
 
  font-size: 16px;

} 
.knopka:active{

	color: #e36999;
	transform: translateY(-7px);
}
#knopka-join {
  color: #e36999; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #ffffff; /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  display: inline-block;
  margin: 40px 20px;
  padding: 0px 30px;/* отступ от текста */
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .2s;
  font-family: NBC Futura;
  letter-spacing: 2px;
 
  font-size: 18px;

  line-height: 45px;
  border-radius: 45px;

} 
#knopka-join:hover { 
	background: #e36999;
  	color: #fff;

} /* при наведении курсора мышки */

#knopka-join:active {
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	transform: translateY(-7px);
}

#knopka-discover {
	color: #5541a2; /* цвет текста */
  	text-decoration: none; /* убирать подчёркивание у ссылок */
  	user-select: none; /* убирать выделение текста */
  	background: #ffffff; /* фон кнопки */
  	outline: none; /* убирать контур в Mozilla */
  	display: inline-block;
  	margin: 40px 0px;
  	padding: 5px 50px;/* отступ от текста */
  	overflow: hidden;
  	text-align: center;
  	box-shadow: 0 8px 15px rgba(0,0,0,.1);
  	transition: .2s;
  	font-family: NBC Futura;
  	letter-spacing: 0px;
 
 	font-size: 20px;

  	line-height: 45px;
  	border-radius: 45px;
}
#knopka-discover:hover {
	background: #5541a2;
  	color: #fff;
}

#knopka-discover:active {
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	transform: translateY(-7px);
}
#knopka-play {
	color: #ffffff; /* цвет текста */
  	text-decoration: none; /* убирать подчёркивание у ссылок */
  	user-select: none; /* убирать выделение текста */
  	background: #e36999; /* фон кнопки */
  	outline: none; /* убирать контур в Mozilla */
  	display: inline-block;
  	margin: 30px 20px;
  	padding: 0px 0px;/* отступ от текста */
  	overflow: hidden;
  	text-align: center;
  	box-shadow: 0 8px 15px rgba(0,0,0,.1);
  	transition: .2s;
  	line-height: 50px;
  	border-radius: 50px;
  	width: 100px;
  	height: 100px;
}

.hat {
	background-image: url(images/bg1.jpg);
	position: relative;
	top: 0px;
	min-height: 1063px;
	max-width: 1600px;
	margin: auto;
	background-position: center center; 
	background-repeat: no-repeat;
	
	background-size: cover; 
	background-color: #0f1344;
}
#blank {
	position: relative;
	background: #161647;
	height: 81px;
	margin: auto;
	max-width: 1600px;
}
#video {
	position: relative;
	height: 582px;
	background: #0f1343;
}
.oknoDialog {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 99999;
      	transition: opacity 400ms ease-in;
      	pointer-events: none;
}


.oknoDialog:target {
	display: block;
	pointer-events: auto;
}
.oknoDialog > div {
	width: 75%;
	height: 75%;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: fff;

}
.close {
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        background: #606061;
        cursor:pointer;
        width: 24px;
        height: 22px;
        top: -10px;
        position: absolute;
        right: 5px;
        border-radius: 12px;
        box-shadow: 1px 1px 3px #000;
      }

.close:hover {background: #00d9ff;}

.foot {
	background: #808080;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	position: relative;
}
.a {
	color: #989fb1;
	font-family: NBC Futura;
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 1px;

}

h1 {
	color: #1e2739;
	text-align: center;
	font-family: NBC Futura;
	font-weight: lighter;
	top: 10px;
	position: relative;
	font-size: 75px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.b {
	color: #989fb1;
	font-family: NBC Futura;
	font-weight: 100;
	font-size: 16px;
	letter-spacing: 1px;
	line-height:20px;
	margin: 0px 100px 0px 100px;

}


#mid {
	position: relative;

	max-width: 1600px;
	margin: auto;
	height: 3421px;


}