
.viewport {
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background-color: #0f1344;
}
@font-face {
    font-family: 'NBC Futura';
    src: local('NBC Futura Medium'), 
         url('fonts/nbc_futura_medium.ttf') format('truetype');
}
a.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */

} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0);}

.hat {
	background: #808080;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	position: absolute;
}
.foot {
	background: #808080;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	position: absolute;
}
.a {
	color: #ffffff;
	font-family: NBC Futura;
	font-weight: lighter;
	font-size: 18px;
}
.b {
	color: #ffffff;
	text-align: center;
	font-family: NBC Futura;

}
.mid {
	position: relative;
	top: 50px;
	bottom: 50px;
	width: 70%;
	margin: auto;


}