#stock_land{
	
	width: 490px;
  	height: 375.8px;
  	margin-left: 0px;
  	margin-right: 0px;

}
#button-play{
	right: 440px;
	bottom: 155px;
}
#button-play:hover {

	bottom: 150px;
}
.windowDialog > div {
	height: 500px;
	margin-top: 500px;
}

.more {
  margin-left: 50px;
  margin-right: 100px;
}
#text_from{
	text-align: center;
}