
/*-------------VIDEO FOR MOBILE------------------*/

#stock_land{
	
	width: 490px;
  	height: 375.8px;
  	margin-left: 0px;
  	margin-right: 0px;

}
#button-play{
	right: 440px;
	bottom: 125px;
}
#button-play:hover {

	bottom: 120px;
}
.windowDialog > div {
	width: 85%;
	height: 500px;
	margin-top: 500px;
}

.more {
  margin-left: 50px;
  margin-right: 100px;
}
.text_center{
	text-align: center;
}
.br_alt {
    float: left;
    width: 100%;
    margin: 0 0 20px 0; /* отступ после строки 20 пикселей */
}

/*--------GALLERY FOR MOBILE---------*/

#gallery_div{
  display: flex;
  position: relative;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 100px;
  flex-direction: column;
  /*overflow: hidden;*/

}
#img-gallery {
  
  /*overflow: hidden;*/
  overflow: hidden;
  padding-left: 215px;
}
.br {
    float: none;
    width: 0;
    margin: 0; 
}

/*---------MAP FOR MOBILE------------*/

#map iframe{
	width: 545.8px;
	height: 575px;
}

#column1{
  float: right;
  margin-right: 20px;

}
#column2{
  float: left;
  margin-left: 20px;

}